*{
  margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; list-style-type: none;
  color: #2A333E;
}
.wrap{
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}
.wrap.large{
  padding: 0 135px;
}
.wrap.small{
  padding: 0 80px;
}
a,.nav-link{
  font-family: 'Poppins', sans-serif;
  font-weight:500 ;
  font-size: 17px;
  line-height: 26px;
}
button{
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

p{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h1,h2,h3{
  font-family: 'Abhaya Libre', serif;
  font-weight: 900;
  color:#EA0000;
 

}
h1{
  font-size: 182px;
  line-height: 100px;
  letter-spacing: -14px;
}
h2{
font-size: 80px;
line-height: 100px;
letter-spacing: -8px;
}
.display2label{
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
h3{
  font-size: 62px;
}

@media screen and (max-width: 768px) {
  .wrap.small{
    padding: 0 24px;
  }
  .wrap.large{
    padding: 0 42px;
  }
}
@media screen and (max-width: 590px) {
  h1{
    font-size: 33vw;
  }
}